<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:installLocation="auto" package="com.bytemesoftware.nxtmessenger" android:versionCode="3" android:versionName="1.2">
	
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" /> 
	<uses-permission android:name="android.permission.GET_TASKS" /> 
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	      
    <application android:icon="@drawable/nxtlogo" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       	<activity android:name=".DeviceListActivity"
                 android:label="@string/select_device"
                 android:theme="@android:style/Theme.Dialog"
                 android:configChanges="orientation|keyboardHidden" />
					
         <meta-data android:name="com.mobclix.APPLICATION_ID" 
         			android:value="F355BC37-B71F-4E02-BB89-8AC794B49DE5"/>

		<activity android:name="com.com.mobclix.android.sdk.MobclixBrowserActivity"		  
				android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
         

    </application>


	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"></uses-sdk>
</manifest> 